.btn_arrows {
  border-width: 2px;
  border-color: $accent-color;
  border-style: solid;
  border-radius: 50%;
  padding: 25px 33px;
  color: #374A3D;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  position: relative;
  display: inline-block;
  transition: 0.2s;
  //padding: 25px 58px 25px 33px;

  span {
    &::after {
      content: url("./../img/btn_arrows.svg");
      padding-left: 8px;
      display: inline-block;
      transition: 0.2s;
    }
  }

  &::after {
    content: url("./../img/arrow.svg");
    display: block;
    position: absolute;
    left: calc(100% + 60px);
    top: 17px;
  }

  &:hover {
    color: $accent-color;
    text-decoration: none;
  }

  &:hover {
    span::after {
      transform: translateX(5px);
    }
  }

}

