.navbar {
  padding: 45px 0;

  .navbar-nav .nav-link {
    color: #1D3B53;
    padding-left: 25px;
    padding-right: 25px;

    &:hover {
      text-decoration: underline;
    }
  }

  .nav-item:last-child{
    padding-left: 25px;
  }
}